@import url('https://fonts.googleapis.com/css?family=Lato');

#main-container {
    margin: 75px auto;
    width: 500px;
    height: 500px;
    padding: 30px;
    background-image: url('../images/nbaBackground.png');
    background-position: center;
    background-size: cover;
}

#chart-container {
    font-family: 'Lato', sans-serif;
    width: 400px;
    height: 450px;
    margin: 0 auto;
}

/* Slider component */
#slider-container {
    text-align: center;
    margin: 20px auto;
}

#slider-bar {
    width: 80%;
    height: 15px;
    background-color: #272324;
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.7);
}

#button-container {
    width: 400px;
    margin: 0 auto;
}

#run-button {
    display:block; /* change this from inline-block */
    width:30%; /* setting the width */
    margin:0 auto; /* this will center  it */
    position:relative;
    border: none;
    cursor: pointer;
    background-color: #fbbf16;
    color: black;
    outline: 0 !important;
    border:0 none !important;
    // box-shadow: 0 9px #999;
    border: none;
    border-radius: 15px;
}
#run-button:hover {background-color: #b08203}
button:active {
  background-color: #3e8e41;
  // box-shadow: 0 5px #666;
  transform: translateY(4px);
}


#slider-button {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    position: absolute;
    background-image: url('../images/Basketball.png');
    background-position: center;
    background-size: cover;
    margin-top: -7px;
    margin-left: -7.5px;
}
